

$jcolor: rgb(233, 227, 199);
$jcolorOrange: rgb(221, 90, 18);
$jcolorBlack: #d9ce9d;
@mixin flexAlign {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.header_container {
	position: fixed;
	left: 0;
	top: 0;
	width: 99vw;
	min-height: 60px;
	z-index: 5;
}

.head_contwrap {
	height: 100%;
	width: 100%;
	min-width: 300px;
	display: flex;
	align-items: center;
	padding: 15px 30px 0 10px;
	justify-content: space-between;
}

.head_cont_wraplogo {
	height: 50px;
	min-width: 50px;
	display: block;
	position: absolute;
	left: 30px;
	top: 10px;
	background: url('../media/f_sec/jagger_logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 6;
	@include disable-select();
}

// Navigation bar
.head_cont_wrapnav {
	display: flex;
	width: auto;
	height: auto;
	transition: .2s linear;
	margin-left: 80px;
	a {
		margin: 10px 30px 0 30px;
		text-decoration: none;
		color: $jcolor;
		font-weight: bold;
		font-size: 13px;
		z-index: 3;
		text-transform: uppercase;
		@include disable-select();
		&:hover {
			opacity: 0.8;
			color: $jcolorOrange;
		}
	}
}

// hamburger menu
.head_cont_wrhmbbtn {
	width: 50px;
	height: 40px;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 6;
}

.head_cont_wrcarticon {
	width: 50px;
	height: 40px;
	@include flexAlign();
	@include disable-select();
	float: right;
	span:nth-child(1) {
		color: $jcolorOrange;
	}
	img {
		width: 30px;
		height: 30px;
		cursor: pointer;
		&:hover {
			opacity: 0.9;
		}
		&:active {
			transform: scale(1.05);
		}
	}
}

.hshk_cic {
	animation: 2s shake_c_icon infinite alternate;
}

@keyframes shake_c_icon {
	0% {
		transform: skewX(-7deg);
	}
	5% {
		transform: skewX(7deg);
	}
	10% {
		transform: skewX(-7deg);
	}
	15% {
		transform: skewX(7deg);
	}
	20% {
		transform: skewX(0deg);
	}
	100% {
		transform: skewX(0deg);
	}
}

.hcicon_scdwn {
	width: 80px;
	background-color: #06240c;
	border-radius: 20px;
}

.head_burgermenu {
	display: flex;
	flex-direction: column;
	width: 30px;
	height: 26px;
	cursor: pointer;
}

.burger_line {
	display: block;
	border-radius: 4px;
	height: 3px;
	width: 100%;
	background-color: $jcolorBlack;
	transition: all ease 0.5s;
}

.burger_line-top {
	transform-origin: center center;
}

.burger_line-center {
	margin: auto 0;
}

.burger_line-bottom {
	transform-origin: center center;
}

.head_burgermenu.active {
	.burger_line-top {
		transform: translate(0, 8px) rotate(45deg);
	}
}

.head_burgermenu.active {
	.burger_line-center {
		opacity: 0;
	}
}

.head_burgermenu.active {
	.burger_line-bottom {
		transform: translate(0, -15px) rotate(-45deg);
	}
}

// mobile menu
.h_mobmenu_left {
	position: fixed;
	display: flex;
	flex-direction: column;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 5;
	width: 0;
	height: 100vh;
	transition: 0.6s;
	overflow: hidden;
}

.hmobmen_active {
	width: 100%;
}

.h_mobmenu_left_wrapnav {
	min-height: 200px;
	width: 100%;
	border-left: solid $jcolorOrange;
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	span {
		margin-top: 10px;
		width: 100%;
		min-width: 250px;
		a {
			text-decoration: none;
			color: $jcolor;
			font-weight: bold;
			font-size: 27px;
			margin: 10px 30px 10px 30px;
			text-transform: uppercase;
			&:hover {
				opacity: 0.8;
				color: $jcolorOrange;
			}
		}
	}
}

.hmobleft_cart_lk {
	span {
		color: $jcolorOrange;
	}
}

.h_mobmenu_left_wrapsocial {
	.fcwrp_ssec_wrapsociallinks {
		width: auto;
	}
	min-height: 100px;
	width: 100%;
	border-left:solid $jcolorOrange;
	margin-top:100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left:20px;
	a {
		margin: 0 10px 0 10px;
		min-width: 30px;
	}
}

@media screen and (max-width: 780px) {
	.head_cont_wrapnav {
		display: none;
	}
	.head_contwrap {
		justify-content: flex-end;
		padding: 10px 10px 0 10px;
	}
	.head_cont_wraplogo {
		left: 20px;
	}
	.head_cont_wrhmbbtn {
		display: flex;
	}
	.head_cont_wrcarticon {
		display: flex;
	}
}

@media screen and (max-width: 680px) {
	.ct_cont_wrapdata {
		padding: 15px;
	}
	.ct_cwd_subtitle {
		width: 80%;
	}
}

