

body {
	font-family: 'Merriweather', serif;
	padding: 0;
	margin: 0;
	min-width: 300px;
	overflow-x: hidden;
	background-color: #173111;
	background-image: url('../media/f_sec/g_dirty_bg.png');
	background-attachment: fixed;
	background-size: cover;
}

* {
	box-sizing: border-box;
}

