

$jcolor: rgb(233, 227, 199);
$jcolorOrange: rgb(221, 90, 18);
.sec_section_container {
	position: relative;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	display: flex;
}

.sec_sec_wrhalf {
	position: relative;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.s_sec_video {
	width: 350px;
	height: 80%;
	padding-bottom: 20px;
	z-index: 2;
}

.sec_sec_wrhalf {
	text-align: center;
	padding: 20px;
}

.s_sec_slsh {
	position: absolute;
	min-height: 150px;
	width: 700px;
	background-image: url('../media/org_slsh.png');
	background-repeat: no-repeat;
	background-size: 85%;
	left: -800px;
	transition: 1.5s ease-in-out;
	top: 50%;
	transform: translateY(-50%);
}

.s_sec_wrhalf_wraptxt {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.ssec_wrhtxt_quote {
		position: absolute;
		width: 50px;
		height: 50px;
		left: -30px;
		top: -15px;
		background: url('../media/s_sec/left-quote.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
	.ssec_txt {
		color: $jcolor;
		font-size: 65px;
		position: relative;
	}
	.s_sectxt_gtxt {
		color: $jcolorOrange;
	}
	.s_sectxt_jaggtag {
		font-size: 25px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 780px) {
	.sec_sec_wrhalf_f {
		width: 30%;
	}
	.sec_sec_wrhalf_t {
		width: 70%;
	}
	.s_sec_wrhalf_wraptxt {
		z-index: 2;
		.ssec_txt {
			font-size: 45px;
		}
	}
	.s_sec_video {
		width: 250px;
		height: 80%;
		padding-bottom: 20px;
		z-index: 1;
	}
}

@media screen and (max-width: 480px) {
	.s_sec_wrhalf_wraptxt {
		justify-content: flex-start;
		align-items: flex-start;
		padding-right: 40px;
		.ssec_txt {
			font-size: 35px;
		}
		.s_sectxt_jaggtag {
			font-size: 20px;
		}
	}
	.sec_sec_wrhalf {
		text-align: left;
	}
}

